@model TWTodos.Models.ToDo

<h1>@ViewData["Title"]</h1>

<p>Tem certeza que deseja excluir a tarefa <strong>@Model.Title</strong>?</p>

<form method="post">
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a asp-controller="Todo" asp-action="Index" class="btn btn-primary">Cancelar</a>
</form>